.env
.env.*

__pycache__/
*.py[cod]
*.pyo
*.pyd

.poetry/
poetry.lock

.env/
.venv/
venv/
ENV/
env/

.vscode/
.devcontainer/.env
.devcontainer/*-log.txt
.devcontainer/Dockerfile
.devcontainer/docker-compose.*
.devcontainer/*.tar
.devcontainer/.python-version

.ipynb_checkpoints/
*.nbconvert.ipynb

*.swp
*.swo
*~
.DS_Store
Thumbs.db

*.log

*.zip
*.tar.gz
*.egg-info/
dist/
build/
